body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Inter", sans-serif;
  }

/* Header */
header {
  background: linear-gradient(90deg, rgba(5, 5, 5, 0.65) 0%, rgba(0, 25, 62, 0.65) 100%);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

/* Footer */
footer {
  background: linear-gradient(90deg, rgba(5, 5, 5, 0.65) 0%, rgba(0, 25, 62, 0.65) 100%);
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

  /* Contenedor del canvas y los botones */
.canvas-and-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  /* Estilo del canvas */
  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Estilos de los botones */
  .button-controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .button-controls button {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(90deg, #bc2dffbf 0%, #5296fcbf 100%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .button-controls button:hover {
    background: linear-gradient(90deg, #8b24bbbf 0%, #325a96bf 100%);
    transform: scale(1.1); 
  }
  
  /* Estilo del canvas */
  #drawCanvas {
    border: none;
    background-color: #00032b;
    border-radius: 10px;
  }
/* Botón debajo del canvas */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 18px;
    background: linear-gradient(90deg, #bc2dffbf 0%, #5296fcbf 100%);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .button-container button:hover {
    background: linear-gradient(90deg, #8b24bbbf 0%, #325a96bf 100%);
    transform: scale(1.1);
  }  