body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  background-color: #0D0D0D;
    background-image: url("../img/Circle.svg");
    background-size: cover;
    background-width: 100%;
    background-hight: 100%;
  background-repeat: no-repeat; 
}

.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    /* background-color: rgba(0, 0, 0, 0.8); */
    top: 0;
    left: 0;
    z-index: 10;
}

.Logo img {
    width: 30%;
}

.landing-content {
    margin-top: 80px; 
    text-align: center;
}

.big-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

button {
    font-size: 1rem;
    padding: 10px 20px;
    background-color: white;
    border: none;
    cursor: pointer;
    color: black;
}

footer {
    margin-top: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    text-align: center;
    width: 100%;
}

/**Bbutton  */
.button-container button {
    padding: 20px 40px;
    font-size: 18px;
    background: linear-gradient(90deg, rgba(5, 5, 5, 0.65) 0%, rgba(0, 25, 62, 0.65) 100%);
    color: white;
    border: none;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
  }
  
  .button-container button:hover {
    background: linear-gradient(90deg, rgba(8, 8, 8, 0.65) 0%, rgba(0, 236, 205, 0.65)100%);
    transform: scale(1.1); 
  }